.vscode
node_modules
.gitignore
client/out/*.map
client/src/
tsconfig.json
tslint.json
.pytest_cache
server/__pycache__
__pycache__
server/tests/__pycache__
.mypy_cache
*.log
out/
*.vsix
.gitignore
!node_modules